{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "20.18",
          "chrome": "130"
        }
      }
    ],

    [
      "@babel/preset-react",
      {
        "pragma": "BdApi.React.createElement"
      }
    ]
  ]
}