.edit-message-template-button-container {
    position: relative;
    display: flex;
    align-items: center;
}

.edit-message-template-dropdown {
    z-index: 9999;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    min-width: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;

    color: #ffffff;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-shadow: 1px 1px 2px #000000, 1px 1px 4px #000000;

    padding-top: calc((var(--custom-channel-textarea-text-area-height) - var(--chat-markup-line-height)) / 2 + 24px);
    padding-bottom: calc((var(--custom-channel-textarea-text-area-height) - var(--chat-markup-line-height)) / 2 + 31px);
    padding-left: calc(var(--space-16) - 1px + 40px);
    padding-right: calc(var(--space-16) - 1px + 42px);

    transform: translateX(52px);
}

.edit-message-template-dropdown:has( .call-options-textarea:hover) {
    border-color: var(--input-border-default-hover);
}

.edit-message-template-dropdown:has( .edit-message-template-textarea:focus) {
    border-color: var(--input-border-active);
}

.edit-message-template-hint {
    margin-bottom: 10px;

    color: var(--text-secondary);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858;
}

.edit-message-template-textarea {
    color: #ffffff;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-shadow: 1px 1px 2px #000000, 1px 1px 4px #000000;

    outline: none;
    background: transparent;
    border: none;
    resize: none;
}

.edit-message-template-textarea::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.edit-message-template-textarea::-webkit-scrollbar-corner {
    background-color: transparent;
}

.edit-message-template-textarea::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thin-thumb);
    min-height: 40px;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.edit-message-template-textarea::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
    margin: 4px 0;
}