@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.discord-input {
    background-color: var(--input-background-default);
    border: 1px solid var(--input-border-default);
    border-radius: 8px;
    color: var(--input-foreground-default);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    padding-inline: var(--space-12);
    outline: none;
}

.discord-input:hover {
    border-color: var(--input-border-default-hover);
}

.discord-input:focus {
    border-color: var(--input-border-active);
}

.discord-text-input {
    height: var(--control-input-height-md);
}

.discord-textarea {
    padding-block: calc((var(--custom-channel-textarea-text-area-height) - var(--chat-markup-line-height)) / 2);
    padding-inline: calc(var(--space-16) - 1px);
}

.discord-label {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.discord-combo-box {
    position: relative;
}

.discord-combo-box-options-container {
    background-color: var(--background-surface-higher);
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
}

.discord-combo-box-options-container::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.discord-combo-box-options-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.discord-combo-box-options-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thin-thumb);
    min-height: 40px;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.discord-combo-box-options-container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
    margin: 4px 0;
}

.discord-combo-box[data-show-image="true"] .discord-text-input,
.discord-combo-box[data-show-image="true"] .discord-combo-box-option {
    width: 100%;
    /*
     Not pretty but don't want to commit resources here TODO LATER
     */
    padding-left: calc(var(--space-12) + 16px + var(--space-12) - 4px);
}

.discord-combo-box-image {
    position: absolute;
    left: var(--space-12);
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 16px;
    aspect-ratio: 1 / 1;
    z-index: 10;
    pointer-events: none;
    display: grid;
    align-items: center;
}

.discord-combo-box .discord-combo-box-option {
    align-items: center;
    color: var(--text-secondary);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px;
}

.discord-combo-box .discord-combo-box-option.discord-combo-box-option-selected{
    background-color: var(--background-modifier-selected);
    color: var(--interactive-active);
    font-weight: var(--font-weight-medium);
}

.discord-combo-box .discord-combo-box-option:not(.discord-combo-box-option-selected) {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}

.discord-combo-box-selected-icon {
    color: var(--brand-500);
}

.toolbar-buttons-react-root {
    overflow: visible;
    position: relative;
    z-index: 10000;
}

/*
TODO Separate into a component
 */
.divider {
    content: "";
    display: block;
    -webkit-border-start: 1px solid var(--border-subtle);
    border-inline-start: 1px solid var(--border-subtle);
    height: calc(var(--custom-app-top-bar-height) - var(--space-12));
    margin-inline: var(--space-4);
}