.free-slots-input-container {
    position: relative;
    cursor: pointer;
}

.free-slots-foreground {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;


    color: #fff;
    font-weight: bold;
}

.free-slots-background {
    pointer-events: none;
}

.free-slots-foreground,
.free-slots-background {
    position: absolute;
    top: 0;
    left: 0;
}

.free-slots-input-container-has-specified-number .free-slots-background {
    filter: brightness(40%);
}