.discord-input {
    background-color: var(--input-background-default);
    border: 1px solid var(--input-border-default);
    border-radius: 8px;
    color: var(--input-foreground-default);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;

    padding-inline: var(--space-12);
}

.discord-input:hover {
    border-color: var(--input-border-default-hover);
}

.discord-input:focus {
    border-color: var(--input-border-active);
}

.discord-text-input {
    height: var(--control-input-height-md);
}

.discord-textarea {
    padding-block: calc((var(--custom-channel-textarea-text-area-height) - var(--chat-markup-line-height)) / 2);
    padding-inline: calc(var(--space-16) - 1px);
}

.discord-label {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}