.send-call-button {
    position: relative;
    cursor: pointer;
}

.send-call-cooldown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;

    color: #fff;
    font-weight: bold;
}

.send-call-cooldown,
.send-call-background {
    position: absolute;
    top: 0;
    left: 0;
}

.send-call-button-has-cooldown .send-call-background {
    filter: brightness(40%);
}