.toolbar-button {
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
}

.toolbar-button img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.toolbar-button-disabled {
    cursor: not-allowed;
    opacity: 0.4;
    filter: grayscale(80%);
}